body {
  padding-top: 90px;
  word-wrap:break-word;
  overflow: auto;
  background: url(img/login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.col-sm-6 {
  background-color: rgb(153, 204, 0, .65);
}

.btn, .btn-warning, .btn-lg{
  background-color: rgba(0, 255, 255, .2);
}
