body {
  padding-top: 90px;
  word-wrap:break-word;
  overflow: auto;
  background-color: rgba(204, 255, 255, .65);
  font-weight: bold;
}

img {
  height: 300px;
}

.well {
  background-color: rgb(153, 204, 0, .65);
}
